<div class="gallery_item">
    <div class="gallery_txt">
    <a href="{{this.image.src}}" title="{{this.when}}"><b>{{this.where}}</b>  {{this.when}}</a>
    </div>
    <img class="lazyOwl" data-src="{{this.image.src}}" alt="{{this.image.alt}}">
</div>
