<!DOCTYPE html>
<html lang="{{@intl.locales}}">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url"			content="http://www.lasposoancheseceliaca.com" />
	<meta property="og:type"		content="website" />
	<meta property="og:title"		content="{{title}}" />
	<meta property="og:site_name" content="La sposo anche se celiaca"/>
	<meta property="og:description"	content="Il 10 Giugno 2017 Fabio & Elena si sposano a Roma" />
	<meta property="og:image"		content="http://www.lasposoancheseceliaca.com/dist/images/my-custom-style/back.jpg" />
	<meta property="og:locale"		content="it_IT" />
	<link rel="canonical" href="http://lasposoancheseceliaca.com" />
	
    <title>{{title}}</title>

    <!-- Bootstrap CSS -->
    <link href="{{css_path}}/bootstrap.css" rel="stylesheet">
    <link href="{{css_path}}/bootstrap-theme.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="{{css_path}}/font-awesome.min.css" rel="stylesheet">
    <!-- Font Vanilla Daisy Pro CSS -->
    <link href="{{css_path}}/vanilla-daisy-pro.min.css" rel="stylesheet">
    <!-- Flaticon CSS -->
    <link href="{{css_path}}/flaticon/flaticon.css" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link href="{{css_path}}/owl.carousel.css" rel="stylesheet">
    <link href="{{css_path}}/owl.transitions.css" rel="stylesheet">
    <!-- ColorBox CSS -->
    <link href="{{css_path}}/colorbox.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="{{css_path}}/style.css" rel="stylesheet">

    <!-- Color CSS -->
    <link href="{{css_path}}/{{color_theme}}.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

</head>

<body>


    {{> header}}

    <div class="page">

        {{> intro}}

        {{> married}}

        {{#if our_story}}
          {{> story}}
        {{/if}}

        {{#if guests}}
          {{> guests}}
        {{/if}}

        {{> when_and_where}}
        
        {{> location}}
        
        {{> hotel_reservation}}

        {{!-- {{> hotel}} --}}

        {{> rsvp}}

        {{#if gallery}}
          {{> gallery}}
        {{/if}}

        {{> gift}}
        
        {{#if events}}
          {{> events}}
        {{/if}}

        {{> footer}}

        <!-- JQuery -->
        <script src="{{js_path}}/jquery-1.11.0.min.js"></script>
        <!-- CountDown JS -->
        <script type="text/javascript" src="{{js_path}}/jquery.plugin.min.js"></script>
        <script type="text/javascript" src="{{js_path}}/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="{{js_path}}/jquery.countdown-it.js"></script>

        <!-- ColorBox JS -->
        <script src="{{js_path}}/jquery.colorbox-min.js"></script>
        <!-- OWL Carousel JS -->
        <script src="{{js_path}}/owl.carousel.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="{{js_path}}/bootstrap.min.js"></script>

        <!-- ScrollR JS -->
        <script src="{{js_path}}/skrollr.min.js"></script>



        <!-- PrefixFree -->
        <script src="{{js_path}}/prefixfree.min.js"></script>

        <!-- FireFly JS -->
        <script src="{{js_path}}/jquery.firefly-0.3-min.js"></script>
        <!-- Theme JS -->
        <script src="{{js_path}}/script.js"></script>
        <script type="">
          /*CountDown*/
          $('.married_coundown').countdown({until: new Date({{formatDate wedding_date year="numeric"}},{{formatDate wedding_date month="numeric"}}-1,{{formatDate wedding_date day="numeric"}})});
        </script>

    </div>

</body>


</html>
